{% extends 'common.html' %}
{% block sampoorna %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>IMDB MOVIES</title>
      <style>
          body{
              background-color: indianred;
          }
          #one{
              color: darkblue;
              font-family: DialogInput;
              font-size: 50px;
              padding: 10px;
          }
          #two{
                 color: maroon;
                 font-family: "Arial Black";
                 font-size: 30px;
                 text-align: center;
                 padding: 10px;

          }
      </style>
  </head>
  <body>
   <table align="center" border="0">
       <tr><th id="one">
           IMDB MOVIES SHOW DETAILS
       </th></tr>

       <table align="center" border="2">
           <tr>
               <th id="two">Id</th>
               <th id="two">Title</th>
               <th id="two">Year</th>
               <th id="two">Length</th>
               <th id="two">rating</th>
               <th id="two">rating_votes</th>
               <th id="two">poster</th>
               <th id="two">plot</th>
               <th id="two">Trailer</th>
{#               <th id="two">Technical Specs</th>#}
           </tr>
           {% for x in data %}
               <tr>
              <th>{{ x.id }}</th>
               <th>{{ x.title }}</th>
               <th>{{ x.year }}</th>
               <th>{{ x.length }}</th>
               <th>{{ x.rating }}</th>
               <th>{{ x.rating_votes }}</th>
               <th><img src="{{ x.poster }}" width="80" height="80"></th>
               <th>{{ x.plot }}</th>
               <th>
{#                   <video src="{{ x.trailer }}" controls height="50" width="50"></video>#}

                   <a href="{{ x.trailer }}" class="card-link btn btn-warning">Watch trailer Here</a>
                    </th>
{#               <th>{{ x.technical_specs }}</th>#}
               </tr>
           {% endfor %}
       </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   </table>
  </body>
</html>
{% endblock %}